<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/foundation.css">
		    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-99844605-1', 'auto');
				ga('send', 'pageview');
			</script>
		</head>
		<body>
			<div class="row">
				<div class="large-12 columns">
					<img class="logo" alt="Dust Pan Games" src="/assets/img/logo.jpg" />
				</div>
			</div>
			<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
				<button class="menu-icon" type="button" data-toggle="menu"></button>
				<div class="title-bar-title">Menu</div>
			</div>
    		<div class="row content">
				<div id="menu" class="large-3 medium-3 small-12 columns">
					<nav>
			    		<ul class="main">
			        		<li><a href="/">Home</a></li>
				        	<li><a href="/aaie">AAIE</a></li>
								<ul class="sub">
									<li><a href="/aaie/character-generator/">Character Generator</a></li>
									<li><a href="/aaie/aaie-files/">Files</a></li>
									<li><a href="/aaie/gm-tools/">GM Tools</a></li>
									<ul class="sub">
										<li><a href="/aaie/gm-tools/monster-generator/">Monster Generator</a></li>
										<li><a href="/aaie/gm-tools/plot-hook-generator/">Plot Hook Generator</a></li>
									</ul>
									<li><a href="/aaie/sample-characters/">Sample Characters</a></li>
									<ul class="sub">
										<li><a href="/aaie/sample-characters/koodor/">Koodor Level 1 Wizard</a></li>
										<li><a href="/aaie/sample-characters/phill/">Phill level 3 Warrior</a></li>
										<li><a href="/aaie/sample-characters/redrel/">Redrel Level 1 Thief</a></li>
										<li><a href="/aaie/sample-characters/temo/">Temo Level 1 Priest</a></li>
										<li><a href="/aaie/sample-characters/wenbul/">Wenbul Level 1 Warrior</a></li>
									</ul>
								</ul>
							<li><a href="/aaie-in-space">AAIE in Space</a></li>
								<ul class="sub">
									<li><a href="/aaie-in-space/character-generator/">Character Generator</a></li>
								</ul>
			        		<li><a href="/phase-abandon/">Phase Abandon</a></li>
								<ul class="sub">
									<li><a href="/phase-abandon/phase-abandon-files/">Files</a></li>
								</ul>
							<li><a href="/other-games/">Other Games</a></li>
								<ul class="sub">
									<li><a href="/other-games/afternoon-scifi-movie-hour/">Afternoon Scifi Movie Hour</a></li>
									<li><a href="/other-games/dice-chess/">Dice Chess</a></li>
									<li><a href="/other-games/down-on-mill-road/">Down on Mill Road</a></li>
									<li><a href="/other-games/tracy-is-dead/">Tracy is Dead</a></li>
								</ul>
			        		<li><a href="http://dustpangames.blogspot.com/">Blog</a></li>
							<li><a href="/videos/">Videos</a></li>
			    		</ul>
					</nav>
				</div>
				<div class="large-9 medium-9 small-12 columns content">
					<h1>{{ page.title }}</h1>
					{{ content }}
				</div>
			</div>
			<script src="/assets/js/vendor/jquery.js"></script>
			<script src="/assets/js/vendor/what-input.js"></script>
			<script src="/assets/js/vendor/foundation.js"></script>
			<script src="/assets/js/app.js"></script>
		</body>
	</html>
